<%= javascript_pack_tag 'button_to_top' %>
<%= javascript_include_tag "chartkick" %>

<h1>All Sellers and Their Books</h1>
<br>
<%= column_chart all_book_selling_quantity_graph %>
<br><hr>
<h4>Search Here</h4>
  <%= form_tag('/users/seller', method: "get", remote: false, class:'form-inline md-form mr-auto mb-4') do %>
    <%= text_field_tag :query, params[:query], placeholder: "isbn,Book,seller", class: "form-control mr-sm-2" %>
    <button class="btn btn-dark" type="submit">Search</button>
  <% end %>
<br><br>
<h3>All Sellers :</h3><hr>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Seller/User Name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @sellers.each do |seller| %>
      <tr>
        <td><%= seller.seller.name %></td>
        <td><%= link_to "List", individual_uploads_users_path(seller.seller.id), class: "btn btn-light btn-sm" %></td>
        <td></td>
        </tr>
    <% end %>
  </tbody>
</table>
<hr><hr><br>
<h3>All Books:</h3>
<hr>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Seller/User Name</th>
      <th>Book Name</th>
      <th>ISBN </th>
      <th>Sold Qty</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @book_seller.each do |seller| %>
      <tr>
        <td><%= seller.seller.name %></td>
        <td><%= seller.book.name %></td>
        <td><%= seller.book.isbn %></td>
        <td><%= seller.book.selling_quantity %></td>
        <td><%= link_to 'Show', seller.book, class: "btn btn-light btn-sm" %></td>
        <td><button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#show_graph_<%= seller.book.id.to_s %>">Show Graph</button></td>
      
      
        <div id="show_graph_<%= seller.book.id.to_s %>" class="modal fade" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">  
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title"><i>Book Selling Graph</i></h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <h4>Book : <%= seller.book.name %></h4>
                <%= line_chart individual_book_selling_graph(seller.book) %> 
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>  
      </tr>
    <% end %>
  </tbody>
</table>
<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @book_seller %>
  </div>  
  <%= will_paginate @book_seller %>
</div>