<table class="table">
  <thead class="thead-dark">
    <tr>
      <th width="10%">Image</th>
      <th width="9%">Name</th>
      <th width="9%">Category</th>
      <th width="9%">Price</th>
      <th width="9%">Description</th>
      <th width="9%">Author</th>
      <th width="9%">ISBN</th>
      <th width="9%">Total Qty</th>
      <th width="9%">Sold Qty</th>
      <th width="9%"></th>
      <th width="9%"></th>
      <th></th>
    </tr>
  </thead>   
  <tbody>
    <% cache @books_result do %>
      <% @books_result.each do |book| %>
        <% cache book do %>
          <tr>
            <td width="10%"><%= book.image.present? ? image_tag(book.image, style:"width:100px;height:100px") : "" %>
            <td width="9%"><%= book.name %></td>
            <td width="9%"><%= book.category.name %></td>
            <td width="9%" class="price"><%= book.price %> INR</td>
            <td width="9%" class="text-overflows"><%= book.description.truncate(10) %></td>
            <td width="9%"><%= book.author %></td>
            <td width="9%"><%= book.isbn %></td>
            <td width="9%"><%= book.total_qty %></td>
            <td width="9%"><%= book.selling_quantity %></td>
            <td><button type="button" class= "fa fa-line-chart" data-toggle="modal" data-target="#show_graph_<%= book.id.to_s %>"></button></td> 
            <td width="9%"><%= link_to 'Show', book %></td>
            <td><%= link_to 'Add to Cart', line_items_path(book_id: book), method: :post, class: "btn btn-primary btn-sm fa fa-shopping-cart" %></td> 

            <div id="show_graph_<%= book.id.to_s %>" class="modal fade" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered">  
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title"><i>Book Selling Graph</i></h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
                    <h4>For Book : <%= book.name %></h4>
                    <%= line_chart individual_book_selling_graph(book) %> 
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>  

          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
