<%= javascript_pack_tag 'button_to_top' %>
<%= javascript_include_tag "chartkick" %> 

<% if current_user.admin? %>
  <h1>Books </h1>
  <%= form_tag("/books", method: "get", remote: false, class:'form-inline md-form mr-auto mb-4', style: "margin: 10px;") do %>
    <%= text_field_tag :query, params[:query], class: "form-control mr-sm-2" %>
    <button class="btn btn-dark" type="submit">Search</button>
  <% end %>
  <hr>

  <%= render partial: "/books/books_table" %> 
  
  <div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @books_result %>
    </div>  
    <%= will_paginate @books_result %>
  </div>

  <br>
<% else %>
  <strong>Only admin has right to access.</strong>
  <hr>
  <%= link_to 'Back', root_path, class: "btn btn-dark" %>
<% end %>
