<%= javascript_pack_tag 'button_to_top' %>

<% if current_user.admin? %>
  <h1>Books </h1>
  <%= form_tag("/books", method: "get", remote: false, class:'form-inline md-form mr-auto mb-4') do %>
    <%= text_field_tag :query, params[:query], class: "form-control mr-sm-2" %>
    <button class="btn btn-dark" type="submit">Search</button>
  <% end %>
  <hr>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th width="10%">Image</th>
        <th width="9%">Name</th>
        <th width="9%">Category</th>
        <th width="9%">Price</th>
        <th width="9%">Description</th>
        <th width="9%">Author</th>
        <th width="9%">ISBN</th>
        <th width="9%">Total_Qty</th>
        <th width="9%">Sold Qty</th>
        <th width="9%"></th>
        <th width="9%"></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
    <% cache @books_result do %>
      <% @books_result.each do |book| %>
          <% cache book do %>
            <tr>
              <td width="10%"><%= book.image.present? ? image_tag(book.image, style:"width:100px;height:100px") : "" %>
              <td width="9%"><%= book.name %></td>
              <td width="9%"><%= book.category.name %></td>
              <td width="9%" class="price"><%= book.price %> INR</td>
              <!-- #<td w9th="10%" class="desc-word-break"><%= book.description %></td> -->
              <td width="9%" class="text-overflows"><%= book.description.truncate(10) %></td>
              <td width="9%"><%= book.author %></td>
              <td width="9%"><%= book.isbn %></td>
              <td width="9%"><%= book.total_qty %></td>
              <td width="9%"><%= book.total_qty %></td>
              <td width="9%"><%= link_to 'Show', book %></td>
              <% if book.total_qty > 0 %>
                <td><%= button_to 'Add to Cart', line_items_path(book_id: book) %></td>
              <% else %>
                <td><span class="badge badge-secondary">Out Of Stock</span></td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @books_result %>
    </div>  
    <%= will_paginate @books_result %>
  </div>

  <br>
<% else %>
  <strong>Only admin has right to access.</strong>
  <hr>
  <%= link_to 'Back', root_path, class: "btn btn-dark" %>
<% end %>
