<%= javascript_pack_tag 'button_to_top' %>

<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <h1 class="my-4"><%= @book.name %></h1>
      <div class="list-group">
        <%= link_to ' Add to Cart', line_items_path(book_id: @book.id), method: :post, class: 'btn btn-light btn-lg btn-center fa fa-shopping-cart' %>
        <% if user_signed_in? %>
          <%= link_to create_destroy_user_favorites_path(current_user, @book), class:'btn btn-light btn-lg btn-center fa fa-bookmark' do %>
            <span><%= is_favorite?(@book,current_user) %></span> 
          <% end %> 
        <% end %>
        <% if @book_seller.present? %>
          <% if current_user && (@book_seller.seller_id == current_user.id || current_user.admin) %>
             <%= link_to ' Edit Book Details', edit_book_path(@book ,@book_seller), class:'btn btn-light btn-lg btn-center fa fa-pencil-square-o' %> 
          <% end %>
        <% end %>
        <% if current_user && current_user.admin %>
          <%= link_to ' Destroy', @book, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-light btn-lg btn-center fa fa-exclamation-triangle' %> 
        <% end %> 
        <%= link_to ' Back', root_path, class:'btn btn-light btn-lg btn-center fa fa-backward' %> 
      </div>
    </div>

    <div class="col-lg-9">
      <div class="card mt-4">
        <div>
          <%= @book.image.present? ? image_tag(@book.image, style:"height: 300px; width:200px; display: block; margin-right: auto; margin-left: auto; padding: 15px;") : "Image Not Available" %>
        </div>

        <div class="card-body">
          <h3 class="card-title"><%= @book.name %></h3>
          <hr>
          <h5 class="card-title">Author : <%= @book.author %></h5>
          <h5 class="card-title">ISBN : <%= @book.isbn %></h5>
          <h5 class="card-title">Category : <%= @book.category.name %></h5>
          <h5 class="card-title">Rating :</h5> <div class="star-rating" data-score= <%= @book.comments.get_average %> ></div>

          <% if current_user && current_user.admin %>
            <p>
              <h5 class="card-title">Total Quantity : <%= @book.total_qty %></h5>
            </p>
          <% end %>

          <h4><b>Price : <%= @book.price %> INR</b></h4>
          <hr>
          <label><b>Description :</b></label>
          <p class="card-text"><%= @book.description %></p>
          <hr>
        </div>
      </div><hr>
      
      <h2>Comments</h2>
      <div id="comments" style="height: 500px; overflow-y: scroll">
        <%= render @book.comments %>
      </div>
      <hr>
      
      <% if current_user %>
        <h2> Add Comments here </h2>
        <%= render 'comments/form' %>
      <% else %>
        <h3> Please Sign in for add comments </h3>
      <% end %>
      <br>
    </div>
  </div>
</div>

<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      half: 'true',
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script> 