<div class="col-lg-6 col-md-6 mb-4">
  <div class="card h-800">
    <%= book.image.present? ? image_tag(book.image, style:" margin-left: auto; margin-right: auto; width:300px; height:300px") : "Image Not Available"%><hr>  
    <div class="card-body">
      <h4 class="card-title">
        <%= link_to book.name, book %>
      </h4>
      <h5><b>Category :</b> <%= book.category.name %></h5>
      <h5><b>Price :</b> <%= book.price %> INR </h5>
      <h5><b>Author :</b> <%= book.author %></h5>
      <h5><b>ISBN :</b> <%= book.isbn %></h5><hr>
      <p><h5><i>Description : </i></h5><%= book.description.truncate(50) %></p>
    </div>
    <div class="card-footer">
      <% if book.total_qty > 0 %>
        <%= button_to 'Add to Cart', line_items_path(book_id: book), remote: true, class: "btn btn-primary" %>
      <% else %>
        <span class="badge badge-secondary">Out Of Stock</span>
      <% end %>
    </div>
  </div>
</div>
